.container{
    background-color: azure;
    background-image: url('images/menu.png');
    background-size: cover;
    height: 100vh;
    padding: 10px;
    margin: 10px 10px;
    overflow: hidden;
    
}

h1{
    height: 1em;
    text-align: center; 
    justify-content: center;
    margin: 250px 0 10px 0;
    font-size: 5em;
    text-decoration: dashed;
}

h3{
    text-align: center;
    justify-content: center;
    font-size: 2em;
}

ul{
    text-align: center;
    justify-content: center;
    font-size: 2em;
    list-style: none;
    margin-right: 60px;
}

ul a{
    text-decoration: none;
}